@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}

:root{
    --color1:rgb(200,35,183);
    --color2:rgb(161, 30, 148);
    --color3:black;
    --color4:white;
    --color5:#fabf58;
    --color6:rgb(208, 208, 208);
    --color7:#ebda18;
    --color8:#d32a0c;
    /* --color6:rgb(200,35,183); */
}

body{
    background-color: var(--color3);
    overflow-x: hidden;
}

.navbar{
    background-color: var(--color3);
    padding: 17px 0 0;
}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-ul li{
    text-align: center;
    /* display: flex;
    justify-content: center; */
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: var(--color4);
    font-weight:600;
    padding: 10px;
    margin-left: 20px;
    border-radius: 15px;
    cursor:default;
}

a{
    text-decoration: none;
    color: var(--color4);
    cursor:default;
    /* transition: ease-in-out 0.1s; */
}

/* .main_body{
    
} */

/* .line-break{
    color: var(--color4);
    border: 0;
    padding: 0.2px;
    width: 10%;
} */

.f-body{
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    cursor: default;
}

.theme{
    position: absolute;
    top: 20px;
    right: 5vw;
    color: var(--color4);
}

.f-half{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    color: var(--color4);
}

.dev-highlight{
    color: var(--color1);
}

.dev-temp{
    font-family: 'Unbounded', cursive;
    font-size: 170%;
}

.dev-in{
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

.s-half{
    width: 50%;
    background-image: url(../imgs/header.png);
    background-position:right;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: var(--color3); */
}

.s-body{
    /* height: 100vh; */
    background-color: var(--color3);
    text-align: center;
    overflow: hidden;
    padding-bottom: 100px;
}

.s-body-head{
    color: var(--color4);
    font-family: 'Poppins', sans-serif;
    padding:25px 0;
    font-size: 5vw;
}

.offer-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding:0 15px;
    /* border: solid var(--color4);
    border-radius: 15px; */
    margin: 0 15px;
}

.grid-item{
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  color: var(--color4);
  padding: 30px;
  font-size:100px;
  text-align: center;
}

.th-body{
    /* height:150vh; */
    background-color: var(--color3);
    overflow: hidden;
    padding-bottom: 100px;
}

.oppo{
    display: flex;
}

.oppo .cubem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: var(--color3);
}

.oppo .oppo-desc{
    /* display: flex;
    justify-content: center; */
    cursor: default;
    font-family: 'Poppins', sans-serif;
    /* align-items: center; */
    padding-top: 32px;
    color: var(--color4);
    width: 50%;
    height: 100vh;
    background-color: var(--color3);
    font-size: 24px;
}

/*  C U B E  */
.cube{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg); */
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }   

    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }   
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--color7),var(--color8));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

.info{
    width: 90%;
}

.grid-item2{
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    color: var(--color6);
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: solid var(--color1);
    border-radius: 15px;
    width: 25vw;
    cursor:default;
    transition: all 0.4s;
  }

/* .talk-btn{
    padding: 5px;
    width: 50px;
    background-color: #ebda18;
} */

/* .proj_heading{
    
} */

.icoon{
    font-size: 50px;
}

.icoon2{
    font-size: 70px;
    padding-right: 15px;
}

.message{
    color: var(--color4);
    display: flex;
    /* justify-content: center; */
}

.choice-form{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.form-box{
    background: rgba(255, 255, 255, 0.1);

     box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    /* border-bottom:5px solid var(--color1);
    border-right:5px solid var(--color1); */
    backdrop-filter: blur(5px);
    width: 74%;
    height: 84%;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url("../imgs/anonymous.gif"); */
}

.form-box form{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    /* width: 100%; */
}

.message-pic{
    display: flex;
    justify-content: center;
    width: 50%;
}

.anon{
    font-size: 40px;
    padding: 45px 0;
}

.form-content{
    font-size: 25px;
    padding:22px 0;
    text-align: center;
}

.form-content label{
    padding-right: 10px;
}

.form-content input,textarea{
    background: transparent;
    color: var(--color1);
    border: solid var(--color4) 1.4px;
    padding: 6px;
    width: 210px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.form-content textarea{
    width: 300px;
    height: 180px;
    resize: none;
}

#topic-select{
    background: transparent;
    color: var(--color1);
    border: solid var(--color4) 1.4px;
    padding: 6px;
    width: 60%;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.form-sub-btn{
    text-align: center;
}

.form-sub-btn input{
    padding: 9px;
    background-color: rgb(120, 7, 108);
    border-radius: 6px;
    letter-spacing: 1px;
    color: rgb(211, 211, 211);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.fth-body{
    /* background: url("../imgs/running.gif"); */
    height: 290px;
    background-color:var(--color5) ;
    /* background-size: cover; */
    /* background-position:; */
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    width: 98%;
    margin: auto;
    border: solid var(--color1) 4px;
    margin-bottom: 100px;
}

.last-line{
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    line-height: 1.3;
    color: var(--color4);
}

.positon-container{
    margin-bottom: 170px;
    position: relative;
}

.temps{
    position: absolute;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    left: -30px;
    bottom: 40px;
    z-index: -12;
    font-size: 160px;
    /* background-color: #ebda18; */
    color: var(--color1);
    transform: rotate(-30deg);
}

.pos1{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 220px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    border-bottom:5px solid var(--color1);
    border-right:5px solid var(--color1);
    backdrop-filter: blur(5px);
    position: relative;
}

.img1{
    position: absolute;
    right: 0px;
    bottom: -100px;
    width: 17%;
}

.img2{
    position: absolute;
    left: 0px;
    bottom: -100px;
    width: 20%;
}

.about-head{
    text-align: center;
    /* padding: 50px 0 30px; */
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 600;
    color: var(--color4);
}


.about-desc{
    color: var(--color4);
    width: 80vw;
    margin: auto;
    font-size: 20px;
    font-family: 'Unbounded', cursive;
    line-height:30px;
    word-spacing: 5px;
}

.about-me{
  position: relative;
  margin-top: 200px;
  height: 70vh;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof-img{
    border-radius: 50%;
    border: solid var(--color1);
}

.img-partition{
    margin: 0 20px 0;
    border-right: solid rgb(165, 161, 161) 5px;
    height: 20%;
    opacity: 40%;
}

.prof-desc{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.link-hover{
    transition:ease 0.2s;
    font-size: 50px;
}

.semi-circle{
    width: 240px;
    height: 240px;
    border-radius:0 0 40% 40%;
    background-color: var(--color3);
    position: absolute;
    top: -150px;
}

/* .envelope{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 28px;
    left: 48%;
} */







.grid-item i:hover{
    /* opacity: 0.5; */
    color: var(--color2);
}

.dev-highlight:hover{
    color: var(--color4);
}

a:hover{
    /* border: solid var(--color1);
    padding: 5px;
    border-radius: 20px;
    background-color: var(--color1); */
}

::selection{
    color: var(--color3);
    background-color: var(--color2);
}

::placeholder{
    color: var(--color2);
}

/* .proj_heading:hover{
    color: #83cd29;
}

.proj_heading1:hover{
    color: #58c6e3;
} */

.grid-item2:hover{
    background-color: var(--color2);
    transform: scale(1.1);
}

.link-hover:hover{
    color:#063768;
}

.redirect-items:hover{
    background-color: var(--color2);
}

.dis-color:hover{
    color: var(--color2);
}


/* R E S P O N S I V N E S S */
@media screen and (max-width: 650px) {
    
    .nav-ul{
    display: block;
    margin-top: 49px;
    }

    .nav-ul li{
    margin: 12px 17px;
    }

    .f-body{
        flex-direction: row-reverse;
        min-height: 55vh;
    }

    .s-half{
        width: 55%;
        background-position:center;
    }

    .f-half{
        width: 45%;
        padding: 50px 7px;
       align-items: flex-start; 
    }

    .dev-temp{
        font-size: 7vw;
    }

     .dev-in{
        font-size: 4vw;
    }

    #linux{
        display: none;
    }

    .offer-grid{
    grid-template-columns: auto auto;
    }

    .oppo{
        display: block;
    }

    .oppo-desc{
        width: 100vw;
    }

    .cubem{
        display: none !important;
    }

    .about-head{
    font-size: 60px;
    }

    .about-desc{
    font-size: 15px;
    line-height:24px;
    word-spacing:4px;
    }
}
